*{
    box-sizing: border-box;
}
body{
    font-family: Arial,Helvetica,sans-serif;
    background-color: rgb(169,228,225);
}
.date_body{
    display:grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: repeat(11,auto);
}
.header{
    margin:0 auto;
    grid-row:1/2;
    grid-column:1/4;
    width: 960px;
}
.icon{
    float: right;
}
.polmed{
    float: left;
}
.icon *{
    width:90px;
}
.polmed *{
    height:90px;
}
.nav{
    grid-row:2/3;
    grid-column:1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.medic{
    grid-row:3/4;
    grid-column:1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-top:15px;
    padding-bottom: 15px;
}
.calendar{
    grid-row:4/5;
    grid-column:1/4;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}
.termin{
    grid-row:5/6;
    grid-column:1/4;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}
.powod{
    grid-row:6/7;
    grid-column:1/4;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}
.confirm{
    grid-row:8/9;
    grid-column:1/4;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}
#notchosen{
    grid-row:7/8;
    grid-column:1/4;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    display: none;
}
.medic_info{
    height:250px;
    background-color: rgb(126, 178, 180);
    width:600px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
.medic_info p{
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 24px;
    
}
.nav_obj{
    padding:15px;
    background-color: rgb(56, 169, 175);
    margin:3px;
    border-radius: 5px;
}
.date{
    padding-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.calendar_box{
    width:960px;
    height:550px;
    background-color: rgb(126, 178, 180);
    border-radius: 10px;
}
.rezerwacja{
    background-color:rgb(56, 169, 175);
    padding:20px;
    width:400px;
    text-align: center;
    border-radius: 10px;
}
.available_dates{
    width:95%;
}
.termin_box{
    width:800px;
    background-color: rgb(126, 178, 180);
    padding-left:20px;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}
.powod_element{
    width:900px;
    background-color: rgb(126, 178, 180); 
}
.powod_element:nth-of-type(1){
    border-radius: 10px 10px 0 0;
}
.powod_element:nth-of-type(5){
    border-radius: 0px 0px 10px 10px;
}
.date_box{
    width:100%;
    height:10px;
    border:1px solid black
}
.date_bigbox{
    width: 20%;
    border:2px solid black
}
.niemampomyslunanazwe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.days{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.days p{
    width:16.6%;
    text-align: center;
    font-weight: bold;
}
.hours{
    width: 16.6%;
}
.hours p{
    width:100%;
    text-align: center;
    font-weight: bold;
    height:28px;
    align-items: center;
}
.termin_box_text{
    float: left;
    width:200px
}
.termin_date{
    margin: 15px;
    float: right;
    text-align: center;
}
#selekt{
    width:300px;
    text-align: center;
    letter-spacing: 2px;
    height: 30px;
}
.available_dates_box{
    width:83.3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:360px;
    margin-top: 24px;
}
.chosen_date{
    background-color: rgb(56, 169, 175);
    letter-spacing: 2px;
    margin:10px;
    width:800px;
    text-align: center;
    border-radius: 10px;
}
.left_triangle{
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-right: 40px solid rgb(56, 169, 175);
    border-bottom: 29px solid transparent;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px -7px 0px 0px);
}
.right_triangle{
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-left: 40px solid rgb(56, 169, 175);
    border-bottom: 29px solid transparent;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px 0px -7px);
}
.nav_obj,.medic_button,.chosen_date,.rezerwacja{
    box-shadow: 1px 1px 5px  black;
}
.photo{
    height: 250px;
    width:250px;
    border-radius: 10px 0px 0px 10px;
}
.cena{
    float: right;
    margin: 20px;
}
.powod_element input{
    margin:25px;
    transform: scale(1.5);
}
.powod_element label{
    font-size: 22px;
}
.nav_obj:hover,.chosen_date:hover,.rezerwacja:hover{
    background-color: rgb(109, 195, 221);
    color: rgb(85, 85, 85);
}
.left_triangle:hover{
    border-right: 40px solid rgb(109, 195, 221);
}
.right_triangle:hover{
    border-left: 40px solid rgb(109, 195, 221);
}
.down_triangle:hover{
    border-top: 25px solid rgb(109, 195, 221);
}
.nav_obj,.left_triangle,.right_triangle,.chosen_date,.rezerwacja,#selekt,input,label{
    cursor: pointer;
}
@media screen and (max-width:1060px) {
    .header{
        align-items: none;
    }
    .icon *{
        margin-left:0;
        padding-bottom: 5px;
        float:right;
    }
    .nav{
        flex-direction: column;
    }
    .nav_obj{
        width: 100%;
        text-align: center;
        padding:0px;
        font-size:12px;
        margin:2px
    }
}
@media screen and (max-width:990px) {
    .chosen_date{
        width:85%
    }
    .calendar_box{
        width: 100%;
    }
}
@media screen and (max-width:980px){
    .header{
        width:100%;
    }
}
@media screen and (max-width:925px) {
    .powod_element{
        width: 100%;
    }
}
@media screen and (max-width:900px) {
    .photo{
        margin: 0 auto;
        padding:20px;
        padding-bottom: 10px;
        background-color: rgb(126, 178, 180);
        margin-top: 1px;
        border-radius: 10px 10px 0px 0px;
    }
    .medic_info{
        width: 100%;
        margin-top: 0px;
        border-radius: 10px;
    }
}
@media screen and (max-width:800px) {
    .chosen_date{
        width:80%
    }
    .termin_date{
        width:42%
    }
    #selekt{
        width: 100%;
    }
}
@media screen and (max-width:560px) {
    .chosen_date{
        width:75%
    }
}
@media screen and (max-width:550px){
    .header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .icon{
        float: none;
    }
    .polmed{
        float: none;
    }
}