#nav{
    clear: both;
    width: 100%;
}
.button{
    float: left;
    width:33%;
    height:32px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    margin: 1px;
    cursor: pointer;
    background-color: rgba(197, 199, 197, 0.61);
    border-radius: 10px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.button:hover{
    color: grey;
    background-color: white;
}
@media screen and (max-width: 600px) {
    .button{
        width: 99%;

    }
}
a{
    color: black;
}